{% extends 'base.html' %}
{% block title %}เกี่ยวกับตัวผม{% endblock %}
{% block content %}
<div class="card shadow" style="background: linear-gradient(90deg, #a4508b 0%, #f7645b 100%); color: #fff; border: none;">
  <div class="card-body">
    <h2 class="card-title">เกี่ยวกับตัวผม</h2>
    <p class="card-text">ผมชื่อนายนนทพัทธ์ นะทีศรี 
      เป็นนักศึกษาจาก มหาวิทยาลัยราชภัฏศรีสะเกษอยู่ 
      คณะศิลปศาสตร์และวิทยาศาสตร์ 
      สาขาวิทยาการคอมพิวเตอร์ 
      ปัจจุบันกำลังศึกษาอยู่ชั้นปีที่ 2 และมีความสนใจในด้านการพัฒนาเว็บไซต์และแอปพลิเคชัน 
    </p>
  </div>
</div>
{% endblock %}
