{% extends 'base.html' %}
{% block title %}หน้าหลัก | My Shop{% endblock %}
{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4">Nonthaphat Nateesri</h1>
    <p class="lead">สวัสดีครับ ผมชื่อนายนนทพัทธ์ นะทีศรี<br>
    นักศึกษาวิทยาการคอมพิวเตอร์ ปี 3<br>
    ที่กำลังสนใจการพัฒนาเว็บไซต์และแอปพลิเคชั่น</p>
</div>
<div class="d-flex justify-content-center gap-4 flex-wrap">
  <div class="card shadow" style="width: 18rem; background: linear-gradient(120deg, #f7645b 0%, #a4508b 100%); color: #fff;">
    <div class="card-body">
      <h5 class="card-title">อาหารโปรด</h5>
      <p class="card-text">ข้าวมันไก่, ส้มตำ,</p>
    </div>
  </div>
  <div class="card shadow" style="width: 18rem; background: linear-gradient(120deg, #a4508b 0%, #f7645b 100%); color: #fff;">
    <div class="card-body">
      <h5 class="card-title">สิ่งที่ชอบทำ</h5>
      <p class="card-text">เล่นเกม, ฟังเพลง</p>
    </div>
  </div>
  <div class="card shadow" style="width: 18rem; background: linear-gradient(120deg, #f7645b 0%, #a4508b 100%); color: #fff;">
    <div class="card-body">
      <h5 class="card-title">เพลงที่ชอบ</h5>
      <p class="card-text">เพลงสากลทุกแนว</p>
    </div>
  </div>
</div>
{% endblock %}
